jboss-eap-7.0/standalone/data/wsdl/SA_WS_Secu.war/PrimeWsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Tinh/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PrimeWsService" targetNamespace="http://Tinh/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://Tinh/" elementFormDefault="unqualified" targetNamespace="http://Tinh/" version="1.0">

  <xs:element name="getPrimeNumberUN" type="tns:getPrimeNumberUN"/>

  <xs:element name="getPrimeNumberUNResponse" type="tns:getPrimeNumberUNResponse"/>

  <xs:element name="isPrimeNumber" type="tns:isPrimeNumber"/>

  <xs:element name="isPrimeNumberResponse" type="tns:isPrimeNumberResponse"/>

  <xs:complexType name="isPrimeNumber">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="isPrimeNumberResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPrimeNumberUN">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:authenUser"/>
      <xs:element name="number" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="authenUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPrimeNumberUNResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="isPrimeNumberResponse">
    <wsdl:part element="tns:isPrimeNumberResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPrimeNumber">
    <wsdl:part element="tns:isPrimeNumber" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrimeNumberUNResponse">
    <wsdl:part element="tns:getPrimeNumberUNResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrimeNumberUN">
    <wsdl:part element="tns:getPrimeNumberUN" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PrimeWs">
    <wsdl:operation name="isPrimeNumber">
      <wsdl:input message="tns:isPrimeNumber" name="isPrimeNumber">
    </wsdl:input>
      <wsdl:output message="tns:isPrimeNumberResponse" name="isPrimeNumberResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrimeNumberUN">
      <wsdl:input message="tns:getPrimeNumberUN" name="getPrimeNumberUN">
    </wsdl:input>
      <wsdl:output message="tns:getPrimeNumberUNResponse" name="getPrimeNumberUNResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PrimeWsServiceSoapBinding" type="tns:PrimeWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="isPrimeNumber">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isPrimeNumber">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isPrimeNumberResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrimeNumberUN">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPrimeNumberUN">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPrimeNumberUNResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrimeWsService">
    <wsdl:port binding="tns:PrimeWsServiceSoapBinding" name="PrimeWsPort">
      <soap:address location="http://localhost:8080/SA_WS_Secu/PrimeWs"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>